.header-content__button-callback {
    border: #FFFFFF00 solid 1px;
    border-radius: 26px;
    padding: 6px 10px 6px 28px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    transition: .3s;
}

.header-content__button-callback::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    width: 15px;
    height: 16px;
    background-image: url(../../../images/phone.svg);
    background-repeat: no-repeat;
}

.header-content__button-callback:hover {
    border: #FFFFFF80 solid 1px;  
}